.conteiner {
    width: 1280px;
    margin: 0 99px;
    
}
.header {

}
.header .header-logo {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    margin-top: 63px;
    margin-bottom: 40px;
}
.header-logo .logo {
    color: black;
    text-decoration: none;
}
.header-logo .colored {
    color: #4BC3F2
    ;
}
.header .header-menu {
    background-color: #35444F;
    margin-bottom: 48px;
}
.header .menu-items {
  
} 

.header-menu .menu-list {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.header .header-menu .menu-list .menu-item {
    border-right: 1px solid #FFFFFF;
    padding: 26px 32px 20px;
    cursor: pointer;
}
.header .header-menu .menu-list .menu-item:first-child {
    border-left: 1px solid #FFFFFF;;
}
.header .header-menu .menu-link {
    text-decoration: none;
    color: #FFFFFF;
}
.header .header-menu .menu-item:hover, .header .header-menu .menu-item:focus {
    background-color: #222F3A;
}
.content-box {
    display: flex;
    justify-content: space-between;
}
.section-left {
    width: 344px;
    height: 400px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-right: 52px;
}
.section-left .menu-list {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
}
.section-left .menu-list .menu-item {
    display: flex;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 44px;
    cursor: pointer;
}
.section-left .menu-list .menu-item .menu-link {
    text-decoration: none;
    color: #485863;
}
.section-left .menu-list .menu-item:hover, .section-left .menu-list .menu-item:focus {
    background-color: #DBDBDB;
}
.section-left .menu-list .menu-item .menu-link:hover, .section-left .menu-list .menu-item .menu-link:focus {
    color: #35444F;
}
.section-right {
    display: flex;
    flex-direction: column;
}
.image-item {
    display: flex;
    justify-content: center;
    width: 884px;
    height: 530px;
    /* background: rgba(0, 0, 0, 0.0001); */
    border: 1px solid #000000;
    /* padding: 74px auto; */
    margin-bottom: 36px;
}
.img {
    margin: 74px auto;
    width: 320px;
    height: 380px;
}
.content-text {
    width: 885px;
    /* height: 120px; */
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    padding-bottom: 36px;
}
.footer {
    display: flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    height: 69px;
    align-items: center;
    margin-bottom: 30px;
    /* padding: auto 40px; */
}
.footer-menu {}

.footer-menu .menu-list {
    display: flex;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;

}
.footer-menu .menu-item {
    padding-right: 20px;
}
.footer-menu .menu-item:first-child {
    padding-left: 40px;
}
.footer-menu .menu-link {
    text-decoration: none;
    color: #0C1927;
    padding-bottom: 12px;
}
.footer-menu .menu-link:hover, .footer-menu .menu-link.menu-link:focus {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}
.footer .footer-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    padding-right: 40px;
    color: #010101;
    width: 190px;
    height: 69px;
    /* text-align: center; */
    display: flex;
    align-items: center;
} 
.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.switch-btn {
    display: inline-block;
    width: 72px; /* ширина */
    height: 38px; /* высота */
    border-radius: 19px; /* радиус скругления */
    background: #bfbfbf; /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; /* анимация */
  }
  .switch-btn::after {
    content: "";
    height: 32px; /* высота кнопки */
    width: 32px; /* ширина кнопки */
    border-radius: 16px;
    background: #fff; /* цвет кнопки */
    top: 3px; /* положение кнопки по вертикали относительно основы */
    left: 3px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    position: absolute;
    z-index: 1;
  }
  .switch-on {
    background: red;
  }
  .switch-on::after {
    left: 37px;
  }