@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600&display=swap');

body {
    margin: 0 auto;
    background: #4eccfa;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.card {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    max-width: 444px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    padding: 20px;
    margin: 10px;
    font-family: 'Barlow Condensed', sans-serif;
    border-radius: 15px;
}

.headline {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: rgb(103, 98, 98)
}

button {
    padding: 5px 15px;
    margin-top: 10px;
    background-color: #1c79b361;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 15px;
}