
body {
    min-width: 1200px;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.container {
    width: 1160px;
    margin: 0 auto;
}
.g-section .section-header {
    padding-bottom: 68px;
    text-align: center;

}
.g-section .section-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-bottom: 26px;
    position: relative;
}
.g-section .section-header .line {
	height: 1px;
	width: 76px;
	background-color: #18CFAB;
    border: none;
}
.g-section .section-title::after {  /* не нравится параметры которые мы задаем для расположения контента. а если задавать для класа лайн то не отображаеться */
	content: "";
	height: 1px;
	width: 76px;
	background-color: #18CFAB;
	position: absolute;
    bottom: -35px;
    left: 564px;
    display: block;
}
/* Style fot section TheHam */
.section-ham {
    background-image: url(../image/header/backgraund/section\ 1+header.png);
    background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
} 
.header {
    background-color: rgba(94, 93, 88, 0.6);
}
.header-content {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.header-logo {}
.logo {}
.header-menu {}
.menu-list {
    display: flex;
    align-items: center;
}
.menu-item {}
.menu-item:not(:last-child) {
    margin-right: 21px;
}
.menu-item a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    /* box-sizing: border-box; */
    padding: 50px 0; /*если поставить 50px, то бордер идеально ложиться в средину хедера. Не срабатівает box-sizing (border-box)  */
    transition: transform 1s;
}
.menu-item:hover a {
    color: #18CFAB;
    /* display: inline-block; */ /*когда нет функции тогда не срабатывает анимация, а когда работает анимация, то хедер прыгает по высоте. В чем может быть причина в этих 2-х случаях?*/
    border-bottom: 2px solid #18CFAB;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.header-info {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    text-align: center;
    width: 1160px;
    margin: 0 auto;
    padding-top: 264px;
    padding-bottom: 244px;
}
.header-info .header-title-top {
    /* display: flex;
    align-items: center; */
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 35px;
    line-height: 1;
    color: #fff;
    margin-bottom: 22px;
    text-transform: uppercase;
}
.header-info .colored {
    color: #18CFAB;
} 
.header-info .header-title-bottom {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 78px;
    line-height: 1;
    color: #fff;
    margin-bottom: 22px;
    text-transform: uppercase;
}
.header-info .header-desc {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 34px;
    line-height: 1;
    color: #fff;
    margin-bottom: 134px;
    text-transform: uppercase;
}
.button-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.button-wrap .button {
    width: 169px;
    border-radius: 3px;
    border: none;
    /* padding: 16px auto;  *//*если использовать данную функцию, то падинги не срабатывают. В чем может быть причина такого поведения?*/
    padding-top: 16px;
    padding-bottom: 16px;
    text-transform: uppercase;
    margin: 0 6px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: #fff;
    box-shadow: 0 -5px #FFFFFF;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
}
/* .button-wrap .button:active {
    box-shadow: 0 0 30px #fff;
} */
.button-wrap .green {
    background-color: #18CFAB;
}
.button-wrap .green:hover  {
    box-shadow: 0 -5px #18CFAB;
    /* transition: all 0.5s ease;
    box-shadow: 0 0 30px #fff; */
}
.button-wrap .blue {
    background-color: #00CBF6; 
}
.button-wrap .blue:hover  {
    box-shadow: 0 -5px #00CBF6;
    /* transition: box-shadow 0.5s ease;
    box-shadow: 0 0 30px #fff; */
}
/* Style fot section Benefits */
.section-benefits {
    background-color: #fff;
}
.section-benefits .section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 8px;
}
.section-benefits .content-item {
    width: 25%;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-benefits .green {
    background-color: #18CFAB;
}
.section-benefits .black-green {
    background-color: #1C2A33;
}
.container-icon {
    width: 98px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 48px;
    padding-top: 84px;
}
.section-benefits .item-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 102px;
    text-transform: uppercase;
}
.section-benefits .green .item-title {
    color: #fff;
}
.section-benefits .black-green .item-title {
    color: #18CFAB;
}
/* Style fot section Services */
.section-services {
    padding-top: 83px;
    padding-bottom: 91px;
    background-color: #FFFFFF;
}
.section-services .section-content {}
.section-services .section-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
}
.section-services .tab-list  {
    display: flex;
}    
.section-services .tab-item {}
.section-services .tab-button {
    width: 192px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    color: #717171;
    box-sizing: border-box;
    padding: 16px 0;
    cursor: pointer;
    box-shadow: none;
    position: relative;
    min-height: 74px;
}
/* .section-services .tab-button:before { 
    content: '';
	display: none;
	position: absolute;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border: 1.5px solid #18CFAB; 
} */

/* .section-services .tab-button:focus:before,
.section-services .tab-button:hover:before {
	display: block;
} */
/* .tab-button::after:hover {
    content: "";
    background-image: url(../image/section-services/Rectangle\ 60.svg);
    position: absolute;

} */

/* .section-services .tab-button:focus,
.section-services .tab-button:hover {
    border: 1.5px solid #18CFAB; /*при ховере меняеться высота и все что ниже прыгает*/
    /* box-sizing: border-box; */
/* } */

/* .section-services .tab-button:active {
    background-color: #18CFAB;
    background-image: url(../image/section-services/Rectangle\ 60.svg); /*бекграунд работает только при зажимании, при клике он возвращает обратно.*/
    /* position: absolute;
    top: 50%;
    left: 0; */ 
/* } */

.section-services .tab-button.active {
    background-color: #18CFAB;
} 
.section-services .tab-button.active::before {
    content: '';
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #18CFAB;
    position: absolute;
    left: 84px;
    top: 66px;
} 
.section-services .tab-choice {
    display: none;
}
.section-services .tab-choice.active {
    display: flex;
    align-items: flex-start;
}
.section-services .images-wrap {
    margin-right: 15px;
}
.section-services .image-item {
    width: 192px;
}
.section-services .image {
    width: 192px;
    height: 139px;
}
.section-services .content-text {
    text-align: left;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
}
.section-services .tab-button.active {
    background-color: #18CFAB;
} 

/* Style fot section Install */
.section-install {
    display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../image/section-install/Layer\ 21\ 1.png");
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
    position: relative;
    height: 476px
}
.section-install .section-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section-install .section-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    /* display: flex;
    align-items: center; */
    text-transform: uppercase;
    color: #18CFAB;
    margin-bottom: 12px;
}
.section-install .section-desc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    /* display: flex;
    align-items: center; */
    color: #D8D8D8;
    margin-bottom: 67px;
}
/* Style fot section Works */
.section-works {
    padding-top: 94px;
    padding-bottom: 100px;
    background-color: #E9EDEF;
}
.section-works .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-works .section-tab {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.section-works .tab-list-gallery  {
    display: flex;
    align-items: center;
}    
.section-works .tab-item {}
.section-works .tab-button {
    background: #E9EDEF;
    border: 1px solid #DADADA; 
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    color: #717171;
    box-sizing: border-box;
    padding: 16px 14px;
    cursor: pointer;
    box-shadow: none;
    position: relative;
    min-height: 74px;
}
/* .section-works .tab-button:before { 
	content: '';
	display: none;
	position: absolute;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border: 2px solid #18CFAB;
} */
.section-works .tab-button.active {
    border: 2px solid #18CFAB;
    color: #18CFAB;
}

/* .section-works .tab-button:focus:before,
.section-works .tab-button:hover:before {
	display: block;
} */
.section-works .image-wrap {
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 70px;
}
.section-works .image{
    min-height: 100%;
    min-width: 100%;
}
.section-works .image-item { /* предлагаю вот так сделать что бы исключить прыжков  */
	position: relative;
	height: 100%;
	max-width: 290px;
	max-height: 210px;
	width: 100%;
}
.section-works .image-item:hover .image,
.section-works .image-item.active .image {
	display: none;
}

.section-works .image-item:hover .item-hover,
.section-works .image-item.active .item-hover {
	display: flex;
}

.section-works .image-item .item-hover {
    display: none;
    /* display: flex; */
	position: absolute; /* предлагаю вот так сделать что бы исключить прыжков  */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    align-items: center;
    justify-content: center;
    background-color: #E9EDEF;
    border-top: 4px solid #18CFAB;
    box-sizing: border-box;	
    height: 100%;
}
.section-works .image-item .item-content {
    text-align: center;
    /* position: relative; */
}
.section-works .item-content .item-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.section-works .item-content .link1  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #18CFAB;
    cursor: pointer;
    margin: 0 1.5px;
}
.section-works .image-item .item-content .link2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:  #18CFAB;
    cursor: pointer;
    margin: 0 1.5px;
    position: relative;
}
.section-works .link2::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #fff;
}
.section-works .image-item .item-title {
	font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}
.section-works .image-item .item-desc {
	font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}
.button-add {
    background-color: #18CFAB;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    padding: 12px 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.button-add::before {
    content: "\271A"; 
    padding: 22px 15px 22px 0;
    max-width: 18px;
    max-height: 19px;
    color: #fff;
}
.button-add:hover {
    box-shadow: 0 0 30px #1C2A33;
}
.button-add[disabled] {
    opacity: 0.4;
}

/* .button-add.loader {
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    border-radius: 50%;
    border-top-color: #00CBF6;
} */
.lds-ripple {
    display: none;
    /* display: inline-block; */
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #18CFAB;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  

/* Style fot section News */
.section-news {
    padding-top: 82px;
    padding-bottom: 128px;
}
.section-content {}
.section-news .post-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    row-gap: 42px;
}
.section-news .post-card {
    text-decoration: none;
    position: relative;
    margin-bottom: 4px;
}
.section-news .post-card:focus .post-title,
.section-news .post-card:hover .post-title {
    color: #18CFAB
}
.section-news .post-card:focus .post-date,
.section-news .post-card:hover .post-date {
    background-color: #18CFAB
}
.section-news .post-image {}
.section-news .image {
    width: 100%;
}
.section-news .post-date {
    position: absolute;
    width: 70px;
    min-height: 68px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 16px 6px; */
    flex-wrap: wrap; /*как сделать обязательный перенос на 2 строку?*/
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    background-color: #203E38;
}
.section-news .post-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 17.9885px;
    line-height: 39px;
    color: #717171;
    width: 227px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-news .post-desc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    line-height: 40px;
    color: #777777;
    width: 210px;
    margin-left: 8px;
    position: relative;
}
.section-news .post-desc::before {
    content: "";
    width: 0.5px;
    height: 12px;
    background-color: #777777;
    position: absolute;
    left: 46%;
}
.section-news .post-writer {}
.section-news .post-comments {}
/* Style fot section About */
.section-about {
    display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../image/section-about/Layer\ 333.png");
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
    position: relative;
    /* height: 853px; */
    /* background-color: blue; */
    padding-top: 98px;
    padding-bottom: 104px;
}
.section-about .section-title {
    color: #fff;
}

.slider .swiper-slide {
	text-align: center;
	font-size: 18px;
	/* background: #fff; */

	display: flex;
	justify-content: center;
	align-items: center;
}

.slider .swiper-slide .content-slide {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.slider .swiper-slide .content-slide .image-text {
    width: 47px;
    height: 33px;
    margin-bottom: 36px;
}
.slider .swiper-slide .content-slide .slide-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    margin: 0;
	margin-bottom: 36px;
	
}
.slider .swiper-slide .content-slide .user-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
    position: relative;
	margin: 0;
}
.slider .swiper-slide .content-slide .user-specialty {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    color: #BBBBBB;
	margin: 0;
    margin-bottom: 36px;
}
.slider .swiper-slide .photo-wrapper {
	display: flex;
	justify-content: center;
	width: 166px;
	margin: 0 auto 68px;
    border: 12px solid rgba(24, 207, 171, 0.2);
    z-index: 0;
    border-radius: 50%;
    height: 166px;
}
.slider .swiper-slide .photo {
    z-index: 1;
    display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-sizing: border-box;
	object-fit: cover;

}


.slider.swiper {
	width: 100%;
	/* height: 300px; */
	margin-left: auto;
	margin-right: auto;
}

.slider .swiper-slide {
	background-size: cover;
	background-position: center;
}

.swiper.thumbs-slider {
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0; 
    overflow: visible;
}

.thumbs-slider .swiper-wrapper { 
	display: flex; 
	justify-content: center; 
}

.thumbs-slider .swiper-slide {
	width: 70px !important;
    height: 70px !important;
	border-radius: 50%;
	height: 100%;
	opacity: 0.4;
	cursor: pointer;
}

.thumbs-slider .swiper-slide-thumb-active {
	position: relative;
	top: -10px;
	opacity: 1;
}

.thumbs-slider .swiper-slide img {
	display: block;
    /* display: flex; */
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 4px solid #18CFAB;
	box-sizing: border-box;
	object-fit: cover;
}

.thumbs-slider .swiper-button-next,
.thumbs-slider .swiper-button-prev {
	width: 34px;
	height: 34px;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
	color: #fff;
	cursor: pointer;
    position: absolute;
    top: 50%;
    
}
.thumbs-slider  .swiper-button-next {
    left: auto;
    right: 335px;
}
.thumbs-slider  .swiper-button-prev {
    right: auto;
    left: 300px;
}
.thumbs-slider .swiper-button-next:hover,
.thumbs-slider .swiper-button-prev:hover {
    background-color: #18CFAB;
    border: none;
}

.thumbs-slider .swiper-button-next:after,
.thumbs-slider .swiper-button-prev:after {
	font-size: 16px;
} /* где прописано по поводу активного состояния? и как заменить местоположение этих кнопок? или если я правильно понимаю то это задано в стилях библиотеки? */




/* Style fot section Gallery */
.section-gallery {
    padding-top: 94px;
    padding-bottom: 68px;
}
.section-content {
    text-align: center;
}
.content-wrap {
    margin-bottom: 52px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}
.wrap-left, .wrap-center, .wrap-right {
    display: flex;
    flex-direction: column;
}
.wrap-left .image-wrap-gal,
.wrap-center .image-wrap-gal,
.wrap-right .image-wrap-gal {
    margin-bottom: 20px;
}
.image {
    height: 100%;
    width: 100%;
}
.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3px;
}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid .grid-first {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
.grid .grid-second {
    grid-column: 4 / 7;
    grid-row: 1 / 2;
}
.grid .grid-third {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.grid .grid-fourth {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}
.grid .grid-fifth {
    grid-column: 5 / 7;
    grid-row: 2 / 3;
}
.grid .grid-sixth {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}
.grid .grid-seventh {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
}
.grid .grid-eighth {
    grid-column: 5 / 7;
    grid-row: 3 / 4;
}
.grid .grid-ninth {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}
.grid .grid-tenth {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
}
.grid .grid-eleventh {
    grid-column: 5 / 7;
    grid-row: 4 / 5;
}
.button-gallery {
    background-color: #18CFAB;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    padding: 12px 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.button-gallery::before {
    content: "\271A"; 
    padding: 22px 15px 22px 0;
    max-width: 18px;
    max-height: 19px;
    color: #fff;
}
.button-gallery:hover {
    box-shadow: 0 0 30px #1C2A33;
}
.button-gallery[disabled] {
    opacity: 0.4;
}
/* Style for footer */
.g-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22353F;
}
.copyright {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    /* padding: 48px auto; */  /* такой пединг не срабатывает, почему? */
    padding-top: 48px;
    padding-bottom: 48px;
}
.footer-colored { 
    color: #18CFAB;
    text-decoration: none;
}

























